/* styles.css */

/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for the container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


/* Styles for the links */
.links {
    margin-top: 20px;
}

.links a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto 10px;
}

.links a:hover {
    background-color: #e0e0e0;
}

/* Styles for the add accidents form */
.add-accidents-container {
    text-align: center;
}

.add-accidents-container label {
    display: block;
    margin-bottom: 5px;
}

.add-accidents-container input[type="number"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-accidents-container button[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-accidents-container button[type="submit"]:hover {
    background-color: #45a049;
}

/* Styles for the warning container */
.warning-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.warning-container h1 {
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
}

.warning-container p {
    text-align: center;
    margin-bottom: 20px;
}

.warning-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.warning-container button[type="submit"]:hover {
    background-color: #da190b;
}
